<div class="contact-list-form col-md-11">
  <div>
    <label for="email" class="email-label">Email :</label>
    <input id="email" class="email" type="email" name="email" value="" placeholder="Email">
  </div>

  <div>
    <label for="firstName" class="first-name-label">First Name :</label>
    <input id="firstName" class="first-name" type="text" name="firstName" value="" placeholder="First Name">
  </div>

  <div>
    <label for="lastName" class="last-name-label">Last Name :</label>
    <input id="lastName" class="last-name" type="text" name="lastName" value="" placeholder="Last Name">
  </div>

  <div>
    <label for="twitterUsername" class="twitter-username-label">Twitter :</label>
    <input id="twitterUsername" class="twitter-username" type="text" name="twitterUsername" value="" placeholder="Twitter username">
  </div>

  <div>
    <label for="linkedIn" class="linkedin-label">Linkedin :</label>
    <input id="linkedIn" class="linkedin" type="url" name="linkedIn" value="" placeholder="Linkedin">
  </div>

  <input class="btn form-button col-md-offset-4 col-md-4" id="button" type="submit" name="submit" value="Submit">
</div>
