<div class="contact-list-form col-md-12">
  <div class="row">
    <input id="email" class="email" type="email" name="email" value="" placeholder="Email">
  </div>

  <div class="row">
    <input id="firstName" class="first-name" type="text" name="firstName" value="" placeholder="First Name">
  </div>

  <div class="row">
    <input id="lastName" class="last-name" type="text" name="lastName" value="" placeholder="Last Name">
  </div>

  <div class="row">
    <input id="twitterUsername" class="twitter-username" type="text" name="twitterUsername" value="" placeholder="Twitter username">
  </div>

  <div class="row">
    <input id="linkedIn" class="linkedin" type="url" name="linkedIn" value="" placeholder="Linkedin">
  </div>

  <input class="btn form-button col-xs-offset-2 col-xs-8 button" id="button" type="submit" name="submit" value="Submit">
</div>
