
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.app{
  position: relative;
  background-image: url('../images/phone-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.contact-list-header{
  padding-top: 50px;
  text-align: center;
  margin: 0 auto;
  color: black;
  font-family: 'Reem Kufi', sans-serif;
  font-size: 50px;
}

.contact-list-form{
  margin-top: 15vh;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  border: none;
  border-radius: 7px;
  color: black;
  font-family: 'Raleway', sans-serif;
}

.email,
.first-name,
.last-name,
.twitter-username,
.linkedin{
  border: 1px solid rgb(255,82,75);
  border-radius: 5px;
  width: 100%;
  padding: 3px;
  padding-left: 5px;
  margin-bottom: 10px;
  height: 30px;
}

.button{
  margin-top: 10px;
  background-color: rgb(255,82,75);
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 3px;
}
